<div *ngIf="goods" class="itemInfoBox">
    <h3>{{goods.title}}</h3>
    <div>{{brand}}: {{goods.brand}}</div> 
    <div>가격 : {{goods.price}}</div>
    <div>발매일 : {{goods.releaseDate}} </div>
</div>
<div *ngIf="isEdit">
    <form #itemInfo="ngForm">
        <div class="header">{{indicator}} File</div>
        <div class="columnBody">
            <input type="file" name="file" (change)="onFileSelect($event)">
        </div>
        <div class="columnBody">
            <input type="checkbox" id="deleteCheck"><label for="deleteCheck">delete File</label>
        </div>
        <div class="columnBody">
            <button id="submit" (click)="setImage()" class="btn btn-primary">submit</button>
        </div>
        
    </form>
</div>