:host {
    display: inline-block;
    margin-left : 2%;
}
.columnTitle {
    display: inline-block;
    width: 100px;
}
.columnBody {
    display: inline-block;
    width: 200px;
    position: relative;
}
.itemRow {
    width: 365px;
}
#submit {
    position: relative;
    margin: 0 auto;
    display: block;
}