:host {
    display: inline-block;
    margin-left : 2%;
}
.columnTitle {
    display: inline-block;
    width: 100px;
}
.columnBody {
    display: inline-block;
    width: 200px;
}
.itemRow {
    width: 365px;
}