<div *ngIf="indicator">
  <h3>굿즈({{indicator}}) 추가</h3>
  <form #itemInfo="ngForm">
  <div *ngIf="indicator==eroge">
      <div class="columnTitle">
        <label>GID</label>
      </div>
      <div class="columnBody">
        <input type="text" name="gid" [(ngModel)] ="item.gid">
      </div>
  </div>
  <div>
    <div class="columnTitle">
      <label>{{title}}</label>
    </div>
    <div class="columnBody">
      <input type="text" name="title" [(ngModel)]="item.title">
    </div>
  </div>
  <div>
    <div class="columnTitle">
      <label>브랜드</label>
    </div>
    <div class="columnBody">
      <input type="text" name="brand" [(ngModel)] ="item.brand">
    </div>
  </div>
  <div>
    <div class="columnTitle">
      <label>가격</label>
    </div>
    <div class="columnBody">
      <input type="text" name="price" [(ngModel)] ="item.price">  
    </div>
  </div>
  <div>
    <div class="columnTitle">
      <label>발매일</label>
    </div>
    <div class="columnBody">
      <input class="form-control" placeholder="yyyy-mm-dd"
      name="releaseDate" [(ngModel)]="item.releaseDate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
    </div>
  </div>
  <div *ngIf="indicator==dakimakura">
      <div class="columnTitle">
          <label>재질</label>
        </div>
        <div class="columnBody">
          <select [(ngModel)]="item.material">
            <option *ngFor="let material of materials"  [ngValue]="material.no">{{material.value}}</option>
          </select>
        </div>
  </div>
  </form>
  <button (click)="addItem()">전송</button>
</div>