<p>
  Dakimakura Page(仮) <span (click)="addDakimakura()">[Add Item]</span>
</p>
<div class="itemContainer">
  <div id="dakiTable"></div>
</div>
<div class="previewContainer">
    <a href="{{preview}}" data-lightbox="lightbox">
      <img *ngIf="preview" src="{{preview}}" class="preview" alt="{{selectedGoods.title}}">
    </a>
</div>
<div class="itemInfos">
  <app-item-info [goods]="this.selectedGoods" [indicator]="showItem" [isEdit]="action" [itemNo]="itemNo"></app-item-info>
  <app-add-item [indicator]="addItem" (itemInfoEvent)="processItemResult($event)"></app-add-item>
</div>
