#dakiTable {
    width: 800px;
    display: inline-block;
}
.preview {
    height: 800px;
    width: 600px;
}
.previewContainer {
    position: fixed;
    display: block;
    right: 10px;
    top: 40px;
}
:host {
    position: relative;
    left: 1%;
}