/* You can add global styles to this file, and also import other style files */
@import '../node_modules/tabulator-tables/src/scss/tabulator.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
ngb-datepicker {
    background-color: white;
}
.itemContainer {
    display: flex;
    width: 100%;
}